# Sets

A set is a collection of things, like a list, but the collection is both unordered, and contains no duplicate elements. 

## General Syntax

```python
my_numbers = {1, 2, 3, 4}
my_letters = {'a', 'b', 'c', 'd'}
```

Sets are recognizable by their **_curly braces_**, like a **_dictionary_**.
Lists have **_square brackets_**, tuples have **_parenthesis_**, sets have **_curly braces_**.

The syntactical difference between a set and a dictionary is that sets do not have _keys_ and _values_ , only _values_.

```python
my_set = {1, 2, 3, 4}
my_dictionary = {'key_1': 1, 'key_2': 2, 'key_3': 3, 'key_4': 4}
```

### YOUR TURN

* Create a set for _boolean_ values (True and False)
* Create another set for even numbers through ten.
* Then, print them out. 
* Print out the type!

In [2]:
t_and_f = {True, False}
even_ten = {2,4,6,8,10}

In [3]:
print(t_and_f)
print(type(t_and_f))
print(even_ten)
print(type(even_ten))

{False, True}
<class 'set'>
{2, 4, 6, 8, 10}
<class 'set'>

---

## Why use a set?

There are a few reasons why you might want to use a set!

### 1. Keeping track of _distinct_ values. 

What are all the unique names in a class?
What are the different categories that show up in a collection of things?

Let's do an example.

In [5]:
class_names = [
    'steve',
    'ann',
    'carol',
    'steve',
    'bridgette',
    'sam',
    'kyle'
]

In [6]:
# How many students are in the class?

class_size = len(class_names)
print(class_size)

7

In [7]:
# How many distinct students are in the class?

distinct_names = set(class_names)
distinct_names_size = len(distinct_names)
print(distinct_names_size)

6

--- 

### YOUR TURN

* Create a list of colors! Make sure there are some duplicate values. 
* Print out the size of the color list.
* Convert your color list to a color set.
* Print out the size again
* Print out the values of your new set

In [10]:
colors = ['red','orange','yellow','green','blue','purple','red','orange','yellow','green','blue','purple']
print(len(colors))
color_set = set(colors)
print(len(color_set))
print(color_set)

12
6
{'purple', 'yellow', 'orange', 'red', 'green', 'blue'}

--- 

### 2. Performing Set Operations!

Remember talking about set operations in SQL??
Python sets have the same functionality.
Here's a quick refresher.

![Set Operations](./images/set_operations.png)

---

## Union

![Union](images/union.png)

Unions are used to _combine_ two or more sets! 
You would use this when you want to find the shared values between collections.

There are a couple ways to perform a union using sets.

In [11]:
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}

First way! 
With the `.union()` method.

In [12]:
union_set = set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5, 6}

The other way!
Use the `|` character.
Kind of weird, but saves from some typing!

In [13]:
union_set = set_1 | set_2
print(union_set)

{1, 2, 3, 4, 5, 6}

---

## Intersection

![Union](images/intersection.png)

Intersections are used to find the values common to the sets involved.

Like unions, there are a couple ways to perform a union using sets.

In [14]:
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}

First way! 
With the `.intersection()` method.

In [15]:
intersection_set = set_1.intersection(set_2)
print(intersection_set)

{3, 4}

The other way!
Use the `&` character.
Kind of weird, but saves from some typing!

In [16]:
intersection_set = set_1 & set_2
print(intersection_set)

{3, 4}

---

## Difference

![Union](images/difference.png)

Difference is used to find elements in "the left" set, but not in the "right set".

In [17]:
left_set = {1, 2, 3, 4}
right_set = {3, 4, 5, 6}

First way! 
With the `.difference()` method.

In [18]:
difference_set = left_set.difference(right_set)
print(difference_set)

{1, 2}

The other way!
Use the `-` character.

In [19]:
difference_set = left_set - right_set
print(difference_set)

{1, 2}

---

## Symmetric Difference

![Symmetric Difference](images/symmetric_difference.png)

This is the opposite of intersection. 
Values in either the "left set" or the "right set", but not both.

In [20]:
left_set = {1, 2, 3, 4}
right_set = {3, 4, 5, 6}

First way! 
With the `.difference()` method.

In [21]:
difference_set = left_set.symmetric_difference(right_set)
print(difference_set)

{1, 2, 5, 6}

The other way!
Use the `^` character.

In [22]:
difference_set = left_set ^ right_set
print(difference_set)

{1, 2, 5, 6}

---

### YOUR TURN

* Create 2 sets. 
One with all even numbers between 1 and 10, and the other as all prime numbers between 1 and 10.
* Print out the union between the two.
* Print the intersection.
* Print the difference..
* Print the symmetric difference!

In [28]:
even_num = {2,4,6,8,10}
prime_num = {1,2,3,5,7}
union_num = even_num.union(prime_num)
intersect_num = even_num.intersection(prime_num)
diff_num = even_num.difference(prime_num)
symdiff_num = even_num.symmetric_difference(prime_num)
print(union_num, intersect_num, diff_num, symdiff_num)

{1, 2, 3, 4, 5, 6, 7, 8, 10} {2} {8, 10, 4, 6} {1, 3, 4, 5, 6, 7, 8, 10}

### More references on Sets

* [Python sets](https://docs.python.org/3.6/tutorial/datastructures.html#sets)
* [Set intersection](https://docs.python.org/3.6/library/stdtypes.html?highlight=intersection#set.intersection)

<hr>

## Set Methods - some docs [here](https://www.w3schools.com/python/python_ref_set.asp)

Just like lists, sets also have _methods_ that we can use.

* `add` - Adds an element to the set
* `clear` - Removes all elements from a set
* `remove` - Removes a specified element from the set
* `pop` - Removes and returns a single element from the set

Plus.. 
All of the [set operations](https://docs.python.org/2/library/sets.html#set-objects) we talked about before!

In [37]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

my_set.add(6)
print('After adding ---> ', my_set)

my_set.remove(6)
print('After removing --> ', my_set)

value = my_set.pop()
print('Popped! --> ', value)
print('Set after popped --> ', my_set)

my_set.clear()
print('All gone! --> ', my_set)

{1, 2, 3, 4, 5}
After adding --->  {1, 2, 3, 4, 5, 6}
After removing -->  {1, 2, 3, 4, 5}
Popped! -->  1
Set after popped -->  {2, 3, 4, 5}
All gone! -->  set()

<hr>

### YOUR TURN

* Create an empty set named `showroom`.
* Add four of your favorite car model names to the set.
* Print the length of your set.
* Pick one of the items in your show room and add it to the set again.
* Print your showroom. Notice how there's still only one instance of that model in there.
* Using `update()`, add two more car models to your showroom with another set.
* You've sold one of your cars. Remove it from the set with the `discard()` method.

In [31]:
showroom = {'Toyota','Tesla','Lexus','VW'}
print(len(showroom))
showroom.add('Toyota')
print(showroom)
more_cars = {'Ford','Honda'}
showroom.update(more_cars)
print(showroom)
showroom.discard('Lexus')
print(showroom)

4
{'Tesla', 'VW', 'Lexus', 'Toyota'}
{'VW', 'Honda', 'Tesla', 'Lexus', 'Toyota', 'Ford'}
{'VW', 'Honda', 'Tesla', 'Toyota', 'Ford'}

<hr>

### YOUR TURN.. AGAIN!

1. Now create another set of cars in a variable `junkyard`. Someone who owns a junkyard full of old cars has approached you about buying the entire inventory. In the new set, add some different cars, but also add a few that are the same as in the `showroom` set.
1. Use the `intersection` method to see which cars exist in both the showroom and that junkyard.
1. Now you're ready to buy the cars in the junkyard. Use the `union` method to combine the junkyard into your showroom.
1. Use the `discard()` method to remove any cars that you acquired from the junkyard that you do not want in your showroom.

In [33]:
junkyard = {'Subaru','Toyota','Nissan','VW','BMW'}
print(showroom.intersection(junkyard))
print(showroom.union(junkyard))
showroom.discard('Nissan')
showroom.discard('BMW')
print(showroom)

{'VW', 'Toyota'}
{'Toyota', 'Subaru', 'VW', 'Honda', 'Nissan', 'Tesla', 'BMW', 'Ford'}
{'VW', 'Honda', 'Tesla', 'Toyota', 'Ford'}